@import "tailwindcss";

:root {
  --background: #f8fafc;
  --background-header: #fff;
  --hero-bg: url("/hero-light.svg");
  --about-bg: url("/about-background.svg");
  --text-secondary: #323f50;
  --icon-color: #323f50;
  --card-background-second: #fff;
  --text-main: #151c26;
  --background-category: #c7e0f6;
  --icon-category: #151c26;
  --text-category: #576b86;
  --background-dark: #323f50;
  --card-background-main: #fff;
  --border-card-main: #c7e0f6;
  --heart-button-card-bg: #fff;
  --heart-button-bg-interactive: #4d4d4d;
  --breadcrumb-text: #85a3c9;
  --contetn-card-bg: #fff;
  --header-shadow: 0 2px 4px 0 rgba(50, 63, 80, 0.1);

  --select-bg: #fff;
  --select-border-color: #a2a2a2;
  --select-border-color-hover: #aad2f2;
  --select-text-color: #a2a2a2;
  --select-multi-value-bg: #f8fafc;
  --select-multi-value-text: #7793b7;
  --price-range-bg: #eee;

  --mobile-menu-bg: #fff;
  --mobile-menu-icon: #323f50;

  --pagination-bg: #fff;
  --page-loader-color: #323f50;
}

.dark {
  --background: #0b0e14;
  --background-header: #343434;
  --hero-bg: url("/hero-dark.svg");
  --about-bg: url("/about-background-dark.svg");
  --text-secondary: #fafafa;
  --icon-color: #fafafa;
  --card-background-second: #576b86;
  --text-main: #fafafa;
  --background-category: #576b86;
  --icon-category: #aad2f2;
  --text-category: #aad2f2;
  --background-dark: #343434;
  --card-background-main: rgba(64, 64, 64, 0.3);
  --border-card-main: #323f50;
  --heart-card-bg: #4d4d4d;
  --heart-button-bg-interactive: #fff;
  --breadcrumb-text: #bac9df;
  --contetn-card-bg: #343434;
  --header-shadow: 0 4px 16px rgba(255, 255, 255, 0.12);

  --select-bg: rgba(50, 63, 80, 0.8);
  --select-border-color: #757575;
  --select-border-color-hover: #aad2f2;
  --select-text-color: #fafafa;
  --select-multi-value-bg: rgba(248, 250, 252, 0.2);
  --select-multi-value-text: #fafafa;
  --price-range-bg: rgba(50, 63, 80, 0.8);

  --mobile-menu-bg: rgba(64, 64, 64, 0.9);
  --mobile-menu-icon: #aad2f2;

  --pagination-bg: #323f50;
  --page-loader-color: #c7e0f6;
}

body {
  font-family: var(--font-montserrat);
  letter-spacing: normal;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* swiper */

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.custom-prev.swiper-button-disabled:hover,
.custom-next.swiper-button-disabled:hover {
  background: rgba(199, 224, 246, 0.5);
}

/* loader */

@keyframes paw {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.9);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-paw {
  animation: paw 1s linear infinite;
}

.delay-500 {
  animation-delay: 0.5s;
}
