@import "tailwindcss";

:root {
  /* Background */
  --page-background: #f8fafc;

  --bg-primary: #fff;
  --bg-secondary: #c7e0f6;
  --bg-accent: #aad2f2;
  --bg-dark: #323f50;

  /* Text */
  --text-primary: #151c26;
  --text-secondary: #323f50;
  --text-muted: #576b86;
  --text-placeholder: #a2a2a2;
  --text-disabled: #9db4d3;
  --text-white: #fff;

  /* Brand */
  --primary: #85a3c9;
  --primary-hover: #7793b7;

  /* Border */
  --border-primary: #85a3c9;
  --border-secondary: #aad2f2;
  --border-light: #c7e0f6;
  --border-muted: #bac9df;
  --border-placeholder: #a2a2a2;

  /* Status */
  --status-positive: #47b881;
  --status-pending: #e3b52a;
  --status-negative: #ea7b7b;

  /* Disabled */
  --disabled-bg: #e8eef5;
  --disabled-text: #9db4d3;
}

body {
  font-family: var(--font-montserrat);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;

  background: var(--page-background);
  color: var(--text-primary);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.custom-prev.swiper-button-disabled,
.custom-next.swiper-button-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.custom-prev.swiper-button-disabled:hover,
.custom-next.swiper-button-disabled:hover {
  background: rgba(199, 224, 246, 0.5);
}
